{% extends 'entry_forms/user_forms.html' %}

{% block form-title %}
  <h4 class="card-title">परिवारका सदस्यहरुको विवरण</h4>
  <p class="card-category">सबै परिवार</p>
{% endblock %}

{% block form-body %}
{% for member in members %}
<a href="{% url 'formentry:relation' mooli=0 child=0  entry=0 %}" role="button">member</a>
{% endfor %}
{% endblock %}

{% block form-footer %}

{% endblock %}

{% block form-nav %}
<a href="{%url 'formentry:relation' mooli=mooli child=0 entry=0 %}" class="btn btn-primary">नयाँ सदस्य</a>
{% endblock %}
