{% extends 'entry_forms/user_forms.html' %}

{% block form-title %}
  <h4 class="card-title">परिवारको विवररण</h4>
  <p class="card-category">सबै परिवार</p>
{% endblock %}

{% block form-body %}
<form action="{% url 'formentry:relation' mooli=mooli child=child entry=entry %}" method=post>
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" name="submit" value="Submit">
</form>
{% endblock %}

{% block form-footer %}

{% endblock %}

{% block form-nav %}
<p><a href="{%url 'formentry:relation' mooli=mooli child=0 entry=0 %}" class="btn btn-primary">नयाँ सदस्य थप्नुहोस्</a></p>
<p><a href="{%url 'formentry:relation' mooli=mooli child=child entry=0 %}" class="btn btn-primary">सदस्यको जानकारी थप्नुहोस्</a></p>
{% endblock %}
