{% extends 'entry_forms/user_forms.html' %}
{% load static %}
{% block form-title %}
  <h4 class="card-title">फोटो नयाँ Upload गर्नुहोस् </h4>
  <p class="card-category">Upload files</p>
{% endblock %}

{% block form-body %}

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form}}
  <button type="submit">Upload</button>
</form>



{% endblock %}

{% block form-footer %}
<div class="row">
  {% if images %}
  {% for a in images %}
  <div class="col-xs-4 col-md-4 col-lg-4">
    <a href="{{a.document.url}}"><img src="{{a.document.url}}" class="img-thumbnail" ></a>
  </div>

  {% endfor %}
  {% endif %}

</div>
{% endblock %}

{% block form-nav %}

{% endblock %}
