{% extends 'entry_forms/user_forms.html' %}

{% block form-title %}
  <h4 class="card-title">{{formtitle}}</h4>
  <p class="card-category">{{formdescription}}</p>
{% endblock %}

{% block form-body %}
<form action="{% url %}" method="post">

</form>
<p><a href="{% url 'formentry:family_details' fid=member.id geo=geo pid=0 house=1 %}" class="btn btn-primary">{{member}}</a></p>
{% endblock %}

{% block form-footer %}

{% endblock %}

{% block form-nav %}
<a href="{% url 'formentry:family_details' geo=geo fid=0 pid=0 house=0%}" role="button" class="btn btn-primary">नयाँ परिवार थप्नुहोस् </a>
{% endblock %}
