{% extends 'entry_forms/user_forms.html' %}
{% load widget_tweaks %}
{% block form-title %}
  <h4 class="card-title">{{form.formName}}</h4>
  <p class="card-category">जम्मा प्रश्नकर्ता सङ्ख्या =‍ {{form.markers}}</p>
{% endblock %}
{% load static %}
{% block form-body %}
<!-- {{request.path}} -->
<form action="{% url 'postform:seepost' %}" method="post">
{% for tables in formquestions %}
  <p><strong>{{tables.table.tableName}}</strong></p>
  {% if tables.table_questions %}{% else %}
  Sorry, No questions are added for this table
  {% endif %}
  {% for one_question in tables.table_questions %}
    <div class="form-group row">
      <label style="text-align:right; font-size:18px; text-transform:none;" for="{{one_question.question.id}}" class="col-md-6 col-form-label"><p style="color:red;">{{one_question.question}} {% if mark >= 1 %}</p><p> अङ्क भार: {{one_question.question.marks}} {% endif %}</p>
      <p style="color:black; font-size:10px;">{{ one_question.answer}}</p>

      </label>

      <div class="col-md-6">
          {% if one_question.question.answerType == 'sc' %}
          <select class="form-control" name="question_value[{{one_question.question.id}}]" id="{{one_question.question.id}}">
            {% for choices in one_question.choice %}
              <option value="{{choices.id}}"  {% if choices.id|stringformat:"s" == one_question.answer %}selected{% endif %}>{{choices}}</option>
            {% endfor %}
          </select>
          {% elif one_question.question.answerType == 'yn'  %}
            {% if mark > 1 %}<select class="form-control" name="question_value[{{one_question.question.id}}]">
              <option value="1"{% if one_question.answer == '1' %} selected {% endif %}>१ छ (हो)</option>
              <option value="2"{% if one_question.answer != '1' %} selected {% endif %}> छैन (होइन)</option>
            </select>{% else %}
            <input class="form-control" type="checkbox" name="question_value[{{one_question.question.id}}]" {% if one_question.answer == '1' %}checked{% endif %} value='1'>
            {% endif %}
          {% elif one_question.question.answerType == 'nv' %}
            <input type="number" class="form-control plaintext" {% if one_question.question.unanswering %}required{% endif %} id="{{one_question.question.id}}" name="question_value[{{one_question.question.id}}]" value="{{one_question.answer}}" data-toggle="tooltip" data-placement="top" title="{{one_question.question.description}}"/>
          {% elif one_question.question.answerType == 'mc' %}
          <!-- <select name="question_value[{{one_question.question.id}}]" id="{{one_question.question.id}}" multiple>
            {% for choices in one_question.choice %}
              <option value="{{choices.id}}"  {% if choices.id|stringformat:"s" == field.value %}selected{% endif %}{% comment %}
              {% ifequal  one_question.answer %} selected {% endifequal %}{% endcomment %}>{{choices}}</option>
            {% endfor %}
          </select> -->
          {% for choices in one_question.choice %}
            <input type="checkbox" name="question_value[{{one_question.question.id}}]" value="{{choices.id}}"  {% if choices.id|stringformat:"s" == field.value %}checked{% endif %}>{{choices}}</input>
          {% endfor %}
          {% else %}
            <input type="text" class="form-control plaintext" {% if one_question.question.unanswering %}required{% endif %} id="{{one_question.question.id}}" name="question_value[{{one_question.question.id}}]" value="{{one_question.answer}}" data-toggle="tooltip" data-placement="top" title="{{one_question.question.description}}"/>
          {% endif %}
          <input type="hidden" name="questionID[]" value="{{one_question.question.id}}"/>
      </div>
      {% if mark == 2 %}
      {% for  i in formmarkers %}
        <div class="col-md-6">
          <input name="mark{{i}}[{{one_question.question.id}}]" type="number" placeholder="मूल्याकन कर्ता : {% if i is 0 %}{{ nameofmarkers.0 }}{% else %}{{nameofmarkers.1}}{% endif %}" value="{% if i is 0 %}{{one_question.marks.0.marks}}{% else %}{{one_question.marks.1.marks}}{% endif %}" />
        </div>
      {% endfor %}
      {% endif %}
    </div>


  {% endfor %}

{% endfor %}
{% csrf_token %}
<input type="hidden" name="member" value = "{{member}}"/>
<input type="hidden" name="formid" value="{{form.id}}"/>
<input type="submit" name="Submit" value="Submit" class="btn btn-danger" {% if member < 1 %}disabled{% endif %} />
</form>
{% endblock %}
{% block form-footer %}

{% endblock %}

{% block form-nav %}
{% if next %}
<a class="btn btn-primary" href="{{next}}">Next</a>
{% endif %}
{% if back %}
<p><a class="btn btn-primary" href="{{back}}">पछाडी</a></p>
{% endif %}
{% if new %}
<a class="btn btn-primary" href="{{new}}">अर्को थप्नुहोस् ।</a>
{% endif %}
<a class="btn btn-danger" href="/forms/design/">सबै फारम हेर्नुहोस् । </a>
{% endblock %}

{% block remaining-js %}
<script type="text/javascript">
var path = '{{request.scheme}}://{{request.get_host}}/static/developer/districts.json';
$.getJSON(path, function( data ) {
    var select_field  =   $("#39");
    var temp_select_field   = $("#45");
    $.each(data.json_array, function(key, val){
      var option_field  = '';
      option_field  = '<option value='+val.district+ '>'+ val.district + ' ' + val.id +'</option>';
      select_field.append(option_field);
      temp_select_field.append(option_field);
    });
});



$("#39").on('change', function() {
  console.log(this.value);
  var current_value   = this.value;
  var district_select_field  = $("#40");
  $.getJSON(path, function( data ) {
    var select_field  =   $("#39");

    $.each(data.json_array, function(key, val){
      if(val.district == current_value){


        $('#40').find('option').remove().end();


          $.each(val.muns, function(option_key, option_val){
          var option_field   = '<option value='+option_val.Value+' selected='+ option_val.Selected +'>'+ option_val.Value + ' ' + option_val.Text +'</option>';
          district_select_field.append(option_field);
        });
      }
    });
  });
});



$("#45").on('change', function() {
  console.log(this.value);
  var current_value   = this.value;
  var district_select_field  = $("#46");
  $.getJSON(path, function( data ) {
    var select_field  =   $("#45");

    $.each(data.json_array, function(key, val){
      if(val.district == current_value){

        $('#46').find('option').remove().end();


          $.each(val.muns, function(option_key, option_val){
          var option_field   = '<option value='+option_val.Value+' selected='+ option_val.Selected +'>'+ option_val.Value + ' ' + option_val.Text +'</option>';
          district_select_field.append(option_field);
        });
      }
    });
  });
});

</script>
{% endblock%}
