{% extends 'entry_forms/user_forms.html' %}

{% block form-title %}
  <h4 class="card-title">{{formtitle}}</h4>
  <p class="card-category">{{formdescription}}</p>
{% endblock %}

{% block form-body %}
{% for member in list %}
{% if form_type %}
<p><a href="{% url 'formentry:submit_formindex' id=member.id %}" class="btn btn-primary">{{member}}</a></p>
{% endif %}
{% if tab_type %}
<p><a href="{% url 'formentry:submit_tableindex' formid=formid tid=member.id %}" class="btn btn-primary">{{member}}</a></p>
{% endif %}
{% if ques_type %}
<p><a href="{% url 'formentry:submit_questionindex' tid=tid qid=member.id %}" class="btn btn-primary">{{member}}</a></p>
{% endif %}
{% endfor %}
{% endblock %}

{% block form-footer %}

{% endblock %}

{% block form-nav %}
{% if new %}
<a class="btn btn-primary" href="{{new}}">नयाँ बनाउनुहोस्</a>
{% endif %}
<a class="btn btn-danger" href="/forms/design/">सबै फारम हेर्नुहोस् । </a>
{% endblock %}
