{% extends 'design/index.html' %}


{% block content %}
  <div class="row">
      <div class="col-md-12">
          <div class="card ">
              <div class="card-header ">
                  <h4 class="card-title">Forms</h4>
                  <p class="card-category">{% if stat %}Your data has been {{stat}} {% endif %}</p>
              </div>
              <div class="card-body ">
                  <div id="form" >
                    <form action="{% url 'formentry:entry'%}" method="post">
                      {% csrf_token %}
                      {% for persons in people %}
                        <div class="form-group">
                            <a href = "{% url 'formentry:personid' with person=persons.id %}">{{person.full_name}}</a>
                        </div>
                    {% endfor %}
                    <input type="submit" value="submit"/>
                    </form>
                  </div>
              </div>
              <div class="card-footer ">
                  <div class="legend">
                      <i class="fa fa-circle text-info"></i> Open
                      <i class="fa fa-circle text-danger"></i> Bounce
                      <i class="fa fa-circle text-warning"></i> Unsubscribe
                  </div>
                  <hr>
                  <div class="stats">
                      <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                  </div>
              </div>
            </div>
          <div>
      </div>
  </div>
{% endblock %}
