{% extends 'design/index.html' %}

{% load widget_tweaks %}

{% block content %}
  <div class="row">
      <div class="col-md-12">
          <div class="card ">
              <div class="card-header ">
                  <h4 class="card-title">Forms</h4>
                  <p class="card-category">Custom Generated Form</p>
              </div>
              <div class="card-body ">
                  <div id="form" >
                    <form action="{% url 'formentry:personid' person=personid %}" method="post">
                      {% csrf_token %}
                      {% for field in form %}
                        <div class="form-group">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {% if field.name != 'pub_date' %}
                              {{ field |attr:"class:form-control" }}
                            {% else %}
                              {{ field |attr:"class:datetime-input form-control" }}
                            {% endif %}
                            {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <input type="submit" value="submit"/>
                  </form>
                  </div>
              </div>
              <div class="card-footer ">
                  <div class="legend">
                    {% if personid %}
                    <a class="btn btn-primary" href="{% url 'formentry:address_entry' id=personid pt=1 %}" role="button">Add Permanent Address Details</a>
                    <a class="btn btn-primary" href="{% url 'formentry:address_entry' id=personid pt=2 %}" role="button">Add Temporary Address Details</a>
                    <a class="btn btn-primary" href="{% url 'formentry:card_details' id=personid card=1 %}" role="button">Add Nagrikta Details</a>
                    <a class="btn btn-primary" href="{% url 'formentry:card_details' id=personid card=2 %}" role="button">Add License Details</a>
                    <a class="btn btn-primary" href="{% url 'formentry:card_details' id=personid card=3 %}" role="button">Add Passport Details</a>
                    <a class="btn btn-primary" href="{% url 'formentry:card_details' id=personid card=4 %}" role="button">Add Student Card Details</a>
                    <a class="btn btn-primary" href="{% url 'formentry:contact_details' id=personid contact=1 %}" role="button">Add Primary Contact Details</a>
                    <a class="btn btn-primary" href="{% url 'formentry:contact_details' id=personid contact=1 %}" role="button">Add Secondary Contact Details</a>
                    <a class="btn btn-primary" href="{% url 'formentry:social_details' id=personid media=1 %}" role="button">Add Facebook Details</a>

                    {% endif %}
                  </div>
                  <hr>

              </div>
            </div>
          <div>
      </div>
  </div>
{% endblock %}
